name: "reservation"

services:
  mariadb:
    container_name: reservation-db
    image: mariadb:latest
    ports:
      - 3306:3306
    environment:
      MARIADB_DATABASE: movie_db
      MARIADB_USER: ${DATASOURCE_USERNAME}
      MARIADB_PASSWORD: ${DATASOURCE_PASSWORD}
      MARIADB_ROOT_PASSWORD: root_password
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 1m
      start_interval: 10s
      interval: 1m
      timeout: 5s
      retries: 3

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./docker/tempo/tempo-config.yaml:/etc/tempo.yaml
    ports:
      - "4317:4317"  # OTLP gRPC
      - "4318:4318"  # OTLP HTTP
      - "3200:3200"  # Tempo internal

  loki:
    image: grafana/loki
    container_name: loki
    ports:
      - "3100:3100" # 배포시에는 포트를 외부에 노출하지 말 것

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3003:3000"
    volumes:
      - ./docker/grafana/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - grafana-data:/var/lib/grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=false      # 익명접근 거부
      - GF_AUTH_DISABLE_LOGIN_FORM=false # 로그인 화면
      # 관리자 정보
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password
      # 회원가입 금지
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - tempo
      - loki

volumes:
  caddy_data:
  caddy_config:
  grafana-data: