name: "reservation"

services:
  mariadb:
    container_name: reservation-db
    image: mariadb:latest
    ports:
      - 3306:3306
    environment:
      MARIADB_DATABASE: movie_db
      MARIADB_USER: ${DATASOURCE_USERNAME}
      MARIADB_PASSWORD: ${DATASOURCE_PASSWORD}
      MARIADB_ROOT_PASSWORD: root_password
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 1m
      start_interval: 10s
      interval: 1m
      timeout: 5s
      retries: 3

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./docker/tempo/tempo-config.yaml:/etc/tempo.yaml
    ports:
      - "4317:4317"  # OTLP gRPC
      - "4318:4318"  # OTLP HTTP
      - "3200:3200"  # Tempo internal

  loki:
    image: grafana/loki
    container_name: loki
    ports:
      - "3100:3100" # 배포시에는 포트를 외부에 노출하지 말 것

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3003:3000"
    volumes:
      - ./docker/grafana/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - grafana-data:/var/lib/grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=false      # 익명접근 거부
      - GF_AUTH_DISABLE_LOGIN_FORM=false # 로그인 화면
      # 관리자 정보
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=password
      # 회원가입 금지
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - tempo
      - loki

#  caddy:
#    container_name: caddy
#    image: caddy:latest
#    restart: unless-stopped
#    ports:
#      - "8081:80"
#    volumes:
#      - ./docker/caddy/conf:/etc/caddy
#      - caddy_data:/data
#      - caddy_config:/config
#    depends_on:
#      reservation-1:
#        condition: service_healthy
#      reservation-2:
#        condition: service_healthy
#
#  reservation-1:
#    container_name: reservation-1
#    build:
#      context: .
#      dockerfile: Dockerfile
#    ports:
#      - 8082:8080
#    environment:
#      PORTONE_API_SECRET: ${PORTONE_API_SECRET}
#      PORTONE_API_STOREID: ${PORTONE_API_STOREID}
#      PORTONE_WEBHOOK_SECRET: ${PORTONE_WEBHOOK_SECRET}
#      DATASOURCE_URL: ${DATASOURCE_URL}
#      DATASOURCE_USERNAME: ${DATASOURCE_USERNAME}
#      DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD}
#      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
#      TEMPO_ENDPOINT: ${TEMPO_ENDPOINT}
#      LOKI_HOST: ${LOKI_HOST}
#    depends_on:
#      mariadb:
#        condition: service_healthy
#    healthcheck:
#      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/api/actuator/health || exit 1" ]
#      start_period: 1m
#      start_interval: 10s
#      interval: 1m
#      timeout: 5s
#      retries: 3
#
#  reservation-2:
#    container_name: reservation-2
#    build:
#      context: .
#      dockerfile: Dockerfile
#    ports:
#      - 8083:8080
#    environment:
#      PORTONE_API_SECRET: ${PORTONE_API_SECRET}
#      PORTONE_API_STOREID: ${PORTONE_API_STOREID}
#      PORTONE_WEBHOOK_SECRET: ${PORTONE_WEBHOOK_SECRET}
#      DATASOURCE_URL: ${DATASOURCE_URL}
#      DATASOURCE_USERNAME: ${DATASOURCE_USERNAME}
#      DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD}
#      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
#      TEMPO_ENDPOINT: ${TEMPO_ENDPOINT}
#      LOKI_HOST: ${LOKI_HOST}
#    depends_on:
#      mariadb:
#        condition: service_healthy
#    healthcheck:
#      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/api/actuator/health || exit 1" ]
#      start_period: 1m
#      start_interval: 10s
#      interval: 1m
#      timeout: 5s
#      retries: 3

volumes:
  caddy_data:
  caddy_config:
  grafana-data: