server:
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/movie_db
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    url: /docs/openapi3.yaml


jwt:
  secret-key: 46ba09264fb200ac1acc9114b3af6f6217fd219fb15fb73244ddd6100a8e6207705e2783ef1e7069956023abd54b5d3da42a07509a93a2a8cdfd41cdfde4d1ba