server:
  servlet:
    context-path: /api

spring:
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
    show-sql: true
  flyway:
    enabled: true

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    url: /docs/openapi3.yaml

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

jwt:
  secret-key: ${JWT_SECRET_KEY}

portone.secret:
  storeId: ${PORTONE_API_STOREID}
  apiSecret: ${PORTONE_API_SECRET}
  webhookSecret: ${PORTONE_WEBHOOK_SECRET}